SwiftDTO/example/wsdl/xsd1_schema_user.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://ws.movinglab.ts.dlr.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.movinglab.ts.dlr.de/">

<xs:complexType name="updatePersonalDataRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="personalData" type="tns:personalData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sessionRequest">
<xs:complexContent>
<xs:extension base="tns:defaultRequest">
<xs:sequence>
<xs:element name="session" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="defaultRequest">
<xs:sequence>
<xs:element name="locale" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personalData">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="accessForAdmPersAllowed" type="xs:boolean" minOccurs="0"/>
<xs:element name="assignedRoles" type="tns:role" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="deleteSensDataAfterCampaign" type="xs:boolean" minOccurs="0"/>
<xs:element name="employer" type="tns:company" minOccurs="0"/>
<xs:element name="gender" type="xs:boolean" minOccurs="0"/>
<xs:element name="highestGrad" type="tns:graduation" minOccurs="0"/>
<xs:element name="houseNo" type="xs:string" minOccurs="0"/>
<xs:element name="householdComposition" type="tns:ageGroupPerHousehold" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="landlineNo" type="xs:string" minOccurs="0"/>
<xs:element name="mobilePhoneNo" type="xs:string" minOccurs="0"/>
<xs:element name="motorVehAvailable" type="xs:boolean" minOccurs="0"/>
<xs:element name="occ" type="tns:occupation" minOccurs="0"/>
<xs:element name="prefTfcModes" type="tns:trafficMode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ptSubscriptionAvailable" type="xs:boolean" minOccurs="0"/>
<xs:element name="salaryLvl" type="tns:salaryLevel" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="uploadSensDataByWifiOnly" type="xs:boolean" minOccurs="0"/>
<xs:element name="zipCode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="role">
<xs:sequence>
<xs:element name="constant" type="tns:roleConstant" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="company">
<xs:complexContent>
<xs:extension base="tns:geographicPosition">
<xs:sequence>
<xs:element name="conEmail" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lentObjs" type="tns:lentObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="website" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="geographicPosition">
<xs:sequence>
<xs:element name="lat" type="xs:double" minOccurs="0"/>
<xs:element name="lon" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lentObj">
<xs:complexContent>
<xs:extension base="tns:obj">
<xs:sequence>
<xs:element name="availFrom" type="xs:dateTime" minOccurs="0"/>
<xs:element name="from" type="xs:dateTime" minOccurs="0"/>
<xs:element name="to" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="obj">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="txtId" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:objType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objType">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graduation">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ageGroupPerHousehold">
<xs:sequence>
<xs:element name="ageGrp" type="tns:ageGroup" minOccurs="0"/>
<xs:element name="noOfPers" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ageGroup">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="occupation">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trafficMode">
<xs:sequence>
<xs:element name="constant" type="tns:trafficModeConstant" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salaryLevel">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sessionResponse">
<xs:complexContent>
<xs:extension base="tns:defaultResponse">
<xs:sequence>
<xs:element name="sessionValidityDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="defaultResponse">
<xs:complexContent>
<xs:extension base="tns:information">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="information">
<xs:sequence>
<xs:element name="errs" type="tns:quantifiableError" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="wrngs" type="tns:quantifiableWarning" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quantifiableError">
<xs:sequence>
<xs:element name="err" type="tns:error" minOccurs="0"/>
<xs:element name="no" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="quantifiableWarning">
<xs:sequence>
<xs:element name="no" type="xs:int"/>
<xs:element name="wrng" type="tns:warning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyVerificationRequest">
<xs:complexContent>
<xs:extension base="tns:defaultRequest">
<xs:sequence>
<xs:element name="secToken" type="xs:string" minOccurs="0"/>
<xs:element name="txtId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyVerificationResponse">
<xs:complexContent>
<xs:extension base="tns:defaultResponse">
<xs:sequence>
<xs:element name="regKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="loginRequest">
<xs:complexContent>
<xs:extension base="tns:defaultRequest">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:complexContent>
<xs:extension base="tns:sessionResponse">
<xs:sequence>
<xs:element name="passwordUpdateRecommended" type="xs:boolean" minOccurs="0"/>
<xs:element name="personalDataUpdateRecommended" type="xs:boolean" minOccurs="0"/>
<xs:element name="profile" type="tns:profile" minOccurs="0"/>
<xs:element name="session" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="profile">
<xs:sequence>
<xs:element name="personalData" type="tns:personalData" minOccurs="0"/>
<xs:element name="pois" type="tns:poi" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="statPerTfcModeList" type="tns:travelStatisticPerTrafficMode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="poi">
<xs:complexContent>
<xs:extension base="tns:geographicPosition">
<xs:sequence>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="tripPurpose" type="tns:tripPurpose" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="tripPurpose">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="travelStatisticPerTrafficMode">
<xs:complexContent>
<xs:extension base="tns:travelStatistic">
<xs:sequence>
<xs:element name="tfcMode" type="tns:trafficMode" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="travelStatistic">
<xs:sequence>
<xs:element name="no" type="xs:long" minOccurs="0"/>
<xs:element name="travelTime" type="xs:long" minOccurs="0"/>
<xs:element name="travelledDist" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePasswordRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="currentPassword" type="xs:string" minOccurs="0"/>
<xs:element name="newPassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="updatePoiRequest">
<xs:complexContent>
<xs:extension base="tns:abstractPoiRequest">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractPoiRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="poi" type="tns:poi" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPoisResponse">
<xs:complexContent>
<xs:extension base="tns:sessionResponse">
<xs:sequence>
<xs:element name="pois" type="tns:poi" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="resetPasswordRequest">
<xs:complexContent>
<xs:extension base="tns:defaultRequest">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="addPoiRequest">
<xs:complexContent>
<xs:extension base="tns:abstractPoiRequest">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPersonalDataResponse">
<xs:complexContent>
<xs:extension base="tns:sessionResponse">
<xs:sequence>
<xs:element name="personalData" type="tns:personalData" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="registrationKeyDispatchRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="noOfRegKeys" type="xs:int" minOccurs="0"/>
<xs:element name="qtyPerRegKey" type="xs:int" minOccurs="0"/>
<xs:element name="rcpts" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rcptsInBcc" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rcptsInCc" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPersonsRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="accessForAdmUsersAllowed" type="xs:boolean" minOccurs="0"/>
<xs:element name="alphaChar" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="alreadyParticipateInCampaigns" type="xs:boolean" minOccurs="0"/>
<xs:element name="companyIds" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gender" type="xs:boolean" minOccurs="0"/>
<xs:element name="maxAge" type="xs:int" minOccurs="0"/>
<xs:element name="minAge" type="xs:int" minOccurs="0"/>
<xs:element name="mtrVehAvail" type="xs:boolean" minOccurs="0"/>
<xs:element name="neverLoggedIn" type="xs:boolean" minOccurs="0"/>
<xs:element name="occs" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="operation" type="xs:boolean" minOccurs="0"/>
<xs:element name="ptSubscrAvail" type="xs:boolean" minOccurs="0"/>
<xs:element name="registeredSince" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roles" type="tns:roleConstant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="searchTerm" type="xs:string" minOccurs="0"/>
<xs:element name="tfcModes" type="tns:trafficModeConstant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="zipCodes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPersonsResponse">
<xs:complexContent>
<xs:extension base="tns:sessionResponse">
<xs:sequence>
<xs:element name="pers" type="tns:person" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="registrationRequest">
<xs:complexContent>
<xs:extension base="tns:defaultRequest">
<xs:sequence>
<xs:element name="pers" type="tns:person" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="regKey" type="xs:string" minOccurs="0"/>
<xs:element name="secToken" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deletePoiRequest">
<xs:complexContent>
<xs:extension base="tns:sessionRequest">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="roleConstant">
<xs:restriction base="xs:string">
<xs:enumeration value="MANAGER"/>
<xs:enumeration value="ADMINISTRATOR"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="trafficModeConstant">
<xs:restriction base="xs:string">
<xs:enumeration value="CAR"/>
<xs:enumeration value="BICYCLE"/>
<xs:enumeration value="WALK"/>
<xs:enumeration value="PUBLIC_TRANSPORT"/>
<xs:enumeration value="UNKNOWN"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="error">
<xs:restriction base="xs:string">
<xs:enumeration value="REQ_NOT_SET"/>
<xs:enumeration value="INTERNAL_ERROR"/>
<xs:enumeration value="SESSION_NOT_SET"/>
<xs:enumeration value="SESSION_INVALID_OR_EXPIRED"/>
<xs:enumeration value="LOGIN_DT_INVALID"/>
<xs:enumeration value="EMAIL_RCPTS_EMPTY"/>
<xs:enumeration value="EMAIL_ADDR_NOT_SET"/>
<xs:enumeration value="EMAIL_ADDR_TOO_LONG"/>
<xs:enumeration value="EMAIL_ADDR_INVALID"/>
<xs:enumeration value="EMAIL_ADDR_ALRDY_USED"/>
<xs:enumeration value="MIN_AGE_GT_MAX_AGE"/>
<xs:enumeration value="MIN_AGE_ST_ZERO"/>
<xs:enumeration value="MAX_AGE_ST_ZERO"/>
<xs:enumeration value="REG_SINCE_DATE_IN_FUTURE"/>
<xs:enumeration value="TFC_MD_NOT_SET"/>
<xs:enumeration value="TFC_MD_CONST_NOT_SET"/>
<xs:enumeration value="CMPY_TXT_ID_NOT_SET"/>
<xs:enumeration value="CMPY_SEC_TK_NOT_SET"/>
<xs:enumeration value="CMPY_SEC_TK_INVALID"/>
<xs:enumeration value="CMPY_ID_NOT_SET"/>
<xs:enumeration value="CMPY_ID_LTE_ZERO"/>
<xs:enumeration value="CMPY_CRED_INVALID"/>
<xs:enumeration value="TRK_NOT_SET"/>
<xs:enumeration value="TRK_NAME_NOT_SET"/>
<xs:enumeration value="TRK_NAME_TOO_LONG"/>
<xs:enumeration value="TRK_ID_NOT_SET"/>
<xs:enumeration value="TRK_ID_LTE_ZERO"/>
<xs:enumeration value="TRK_ACT_NOT_SET"/>
<xs:enumeration value="TRK_IDS_EMPTY"/>
<xs:enumeration value="TRK_PERIOD_INVALID"/>
<xs:enumeration value="SEGS_EMPTY"/>
<xs:enumeration value="SEG_START_NOT_SET"/>
<xs:enumeration value="SEG_END_NOT_SET"/>
<xs:enumeration value="SEG_PERIOD_INVALID"/>
<xs:enumeration value="SEG_GEOM_NOT_SET"/>
<xs:enumeration value="SEG_GEOM_INVALID"/>
<xs:enumeration value="LAT_OF_SEG_GEOM_NOT_SET"/>
<xs:enumeration value="LAT_OF_SEG_GEOM_NAN"/>
<xs:enumeration value="LAT_OF_SEG_GEOM_OOR"/>
<xs:enumeration value="LON_OF_SEG_GEOM_NOT_SET"/>
<xs:enumeration value="LON_OF_SEG_GEOM_NAN"/>
<xs:enumeration value="LON_OF_SEG_GEOM_OOR"/>
<xs:enumeration value="SEG_PERIODS_INVALID"/>
<xs:enumeration value="USER_ID_NOT_SET"/>
<xs:enumeration value="USER_ID_LTE_ZERO"/>
<xs:enumeration value="CURR_PWD_NOT_SET"/>
<xs:enumeration value="NEW_PWD_NOT_SET"/>
<xs:enumeration value="PERS_DT_NOT_SET"/>
<xs:enumeration value="FIRST_NAME_TOO_LONG"/>
<xs:enumeration value="LAST_NAME_TOO_LONG"/>
<xs:enumeration value="STREET_NAME_TOO_LONG"/>
<xs:enumeration value="HOUSE_NO_TOO_LONG"/>
<xs:enumeration value="ZIP_CODE_TOO_LONG"/>
<xs:enumeration value="NAME_OF_CITY_TOO_LONG"/>
<xs:enumeration value="MOB_PHNE_NO_TOO_LONG"/>
<xs:enumeration value="LANDLINE_NO_TOO_LONG"/>
<xs:enumeration value="ROLE_NOT_SET"/>
<xs:enumeration value="ROLE_CONST_NOT_SET"/>
<xs:enumeration value="ACCESS_FOR_ADM_PERS_NOT_SET"/>
<xs:enumeration value="DEL_SENS_DT_ATR_CAMP_NOT_SET"/>
<xs:enumeration value="NO_OF_PERS_OF_AGE_GRP_NOT_SET"/>
<xs:enumeration value="NO_OF_PERS_OF_AGE_GRP_LTE_ZERO"/>
<xs:enumeration value="AGE_GRP_NOT_SET"/>
<xs:enumeration value="AGE_GRP_ID_NOT_SET"/>
<xs:enumeration value="AGE_GRP_ID_LTE_ZERO"/>
<xs:enumeration value="OCC_ID_NOT_SET"/>
<xs:enumeration value="OCC_ID_LTE_ZERO"/>
<xs:enumeration value="SAL_LVL_ID_NOT_SET"/>
<xs:enumeration value="SAL_LVL_ID_LTE_ZERO"/>
<xs:enumeration value="GRAD_ID_NOT_SET"/>
<xs:enumeration value="GRAD_ID_LTE_ZERO"/>
<xs:enumeration value="PERS_NOT_SET"/>
<xs:enumeration value="REG_KEY_NOT_SET"/>
<xs:enumeration value="REG_KEY_INVALID"/>
<xs:enumeration value="NO_OF_REG_KEY_NOT_SET"/>
<xs:enumeration value="NO_OF_REG_KEY_LTE_ZERO"/>
<xs:enumeration value="QTY_PER_REG_KEY_NOT_SET"/>
<xs:enumeration value="QTY_PER_REG_KEY_LTE_ZERO"/>
<xs:enumeration value="POI_NOT_SET"/>
<xs:enumeration value="POI_NAME_NOT_SET"/>
<xs:enumeration value="POI_ID_NOT_SET"/>
<xs:enumeration value="POI_ID_LTE_ZERO"/>
<xs:enumeration value="LAT_OF_POI_NOT_SET"/>
<xs:enumeration value="LAT_OF_POI_NAN"/>
<xs:enumeration value="LAT_OF_POI_OOR"/>
<xs:enumeration value="LON_OF_POI_NOT_SET"/>
<xs:enumeration value="LON_OF_POI_NAN"/>
<xs:enumeration value="LON_OF_POI_OOR"/>
<xs:enumeration value="POI_NAME_TOO_LONG"/>
<xs:enumeration value="POI_DESC_TOO_LONG"/>
<xs:enumeration value="OID_NOT_SET"/>
<xs:enumeration value="NON_INIT_TRKG_DT"/>
<xs:enumeration value="NON_INIT_TRKG_DT_TS"/>
<xs:enumeration value="NEGATIVE_TRKG_DT_TS"/>
<xs:enumeration value="IDENTICAL_TRKG_DT_TS"/>
<xs:enumeration value="LAT_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="LAT_OF_TRKG_DT_OOR"/>
<xs:enumeration value="LAT_OF_TRKG_DT_NAN"/>
<xs:enumeration value="LON_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="LON_OF_TRKG_DT_OOR"/>
<xs:enumeration value="LON_OF_TRKG_DT_NAN"/>
<xs:enumeration value="NULL_NULL_TRKG_DT_POS"/>
<xs:enumeration value="NON_INIT_ACC_DT"/>
<xs:enumeration value="NON_INIT_ACC_DT_TS"/>
<xs:enumeration value="NEGATIVE_ACC_DT_TS"/>
<xs:enumeration value="IDENTICAL_ACC_DT_TS"/>
<xs:enumeration value="NON_INIT_X_ACC_VAL"/>
<xs:enumeration value="NON_INIT_Y_ACC_VAL"/>
<xs:enumeration value="NON_INIT_Z_ACC_VAL"/>
<xs:enumeration value="X_ACC_VAL_NAN"/>
<xs:enumeration value="Y_ACC_VAL_NAN"/>
<xs:enumeration value="Z_ACC_VAL_NAN"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="warning">
<xs:restriction base="xs:string">
<xs:enumeration value="TRKG_DT_LIST_EMPTY"/>
<xs:enumeration value="ACC_DT_LIST_EMPTY"/>
<xs:enumeration value="SEND_INVIT_NOT_SET"/>
<xs:enumeration value="BRG_OF_TRKG_DT_OOR"/>
<xs:enumeration value="SPD_OF_TRKG_DT_OOR"/>
<xs:enumeration value="ACCY_OF_TRKG_DT_OOR"/>
<xs:enumeration value="ALT_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="BRG_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="BRG_OF_TRKG_DT_NAN"/>
<xs:enumeration value="ACCY_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="SPD_OF_TRKG_DT_NOT_SET"/>
<xs:enumeration value="SPD_OF_TRKG_DT_NAN"/>
<xs:enumeration value="TRKG_DT_TIMELINE_INVALID"/>
<xs:enumeration value="ALL_TRKG_DT_RECS_FILTERED"/>
<xs:enumeration value="ALL_ACC_DT_RECS_FILTERED"/>
<xs:enumeration value="TRKG_DT_ALREADY_SENT"/>
<xs:enumeration value="X_ACC_VAL_NOT_SET"/>
<xs:enumeration value="Y_ACC_VAL_NOT_SET"/>
<xs:enumeration value="Z_ACC_VAL_NOT_SET"/>
<xs:enumeration value="ACC_DT_ALREADY_SENT"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>